{% extends 'base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header"><a href="/" class="navbar-brand">Job Trackerur</a>
                </div>
            </div>
        </div>
        <div class="alert alert-dismissable"></div>
        <h1>Express Todo App</h1>
        <p>Freelance Localization Translation Job Management Toolur</p>
        <div class="menu">
            <h2>Menu</h2>
            <ul class="nav nav-pills">
                <li class="active"><a href="/tasks">Home</a>
                </li>
                <li><a href="/jobs">Jobs</a>
                </li>
                <li><a href="/completed">Completed Jobs</a>
                </li>
                <li><a href="/clients">Clients</a>
                </li>
            </ul>
        </div>
        <div class="home">
            <p>Node.js, Express, MongoDB, BLOOD SWEAT AND TEARS.</p>
            <p>First add a Client, then you are ready to Add new Jobs to be tracked</p>
        </div>
    </div>
{% endblock %}