{% extends 'base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <div class="container">
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><a href="/" class="navbar-brand">Job Trackerur</a>
            </div>
        </div>
    </div>
    <div class="alert alert-dismissable"></div>
    <h1>List of Jobs</h1>

    <p>Freelance Localization Translation Job Management Toolur</p>

    <div class="menu">
        <h2>Menu</h2>
        <ul class="nav nav-pills">
            <li><a href="/">Home</a>
            </li>
            <li class="active"><a href="/jobs">Jobs</a>
            </li>
            <li><a href="/completed">Completed Jobs</a>
            </li>
            <li><a href="/clients">Clients</a>
            </li>
        </ul>
    </div>
    <h1>List of Jobs</h1>

    <form action="/add_job/" method="post" role="form" class="form-horizontal">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <input type="hidden" value="undefined" name="_csrf">

        <div class="form-group">
            <label for="client" class="col-sm-2 control-label">Client</label>
            <div class="col-sm-10">
                <select name="client" id="client" class="form-control">
                    <option value="Z" disabled selected>Select a Client…</option>
                    {% if clients %}
                        <ul>
                            {% for client in clients %}
                                <option value="{{ client.pk }}">{{ client.clientName }}</option>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <option value="" disabled selected>Create some clients first…</option>
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="clientContact" class="col-sm-2 control-label">Contact</label>
            <div class="col-sm-10">
                <input type="text" name="clientContact" id="clientContactName"
                       placeholder="Enter a Contact Name" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="languageFrom" class="col-sm-2 control-label">From Language</label>

            <div class="col-sm-10">
                <input type="text" name="languageFrom" id="clientContactName"
                       placeholder="Enter a from Language" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="languageTarget" class="col-sm-2 control-label">Target Language</label>

            <div class="col-sm-10">
                <input type="text" name="languageTarget" id="clientContactName"
                       placeholder="Enter a Target language" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>

            <div class="col-sm-10">
                <input type="text" name="description" id="description" placeholder="Job Description"
                       class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="service" class="col-sm-2 control-label">Service</label>

            <div class="col-sm-10">
                <select name="service" id="service" class="form-control">
                    <option value="" disabled selected>Select a Service…</option>
                    <option>Translation</option>
                    <option>Review</option>
                    <option>DTP</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="deadLine" class="col-sm-2 control-label">Deadline</label>

            <div class="col-sm-10">
                <div id="datetimepicker" class="input-group date">
                    <input type="text" data-format="MM/DD/YYYY HH:mm" name="deadLine" id="jobDeadline"
                           placeholder="Enter Deadline &quot;MM/DD/YYYY HH:mm&quot;" class="form-control">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="hours_Spent" class="col-sm-2 control-label">New</label>

            <div class="col-sm-10">
                <input type="text" name="hours_Spent" id="jobNew" placeholder="Hours Spent" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="words_new" class="col-sm-2 control-label">New</label>

            <div class="col-sm-10">
                <input type="text" name="words_new" id="words_new" placeholder="New Words" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="words_fuzzy50" class="col-sm-2 control-label">Fuzzy 50</label>

            <div class="col-sm-10">
                <input type="text" name="words_fuzzy50" id="words_fuzzy50" placeholder="Fuzzy 50" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="words_fuzzy75" class="col-sm-2 control-label">Fuzzy 75</label>

            <div class="col-sm-10">
                <input type="text" name="words_fuzzy75" id="words_fuzzy75" placeholder="Fuzzy 75" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="words_fuzzy85" class="col-sm-2 control-label">Fuzzy 85</label>

            <div class="col-sm-10">
                <input type="text" name="words_fuzzy85" id="words_fuzzy85" placeholder="Fuzzy 85" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="words_fuzzy95" class="col-sm-2 control-label">Fuzzy 95</label>

            <div class="col-sm-10">
                <input type="text" name="words_fuzzy95" id="words_fuzzy95" placeholder="Fuzzy 95" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="words_match" class="col-sm-2 control-label">Match</label>

            <div class="col-sm-10">
                <input type="text" name="words_match" id="words_match" placeholder="Match" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="words_rep" class="col-sm-2 control-label">Rep</label>

            <div class="col-sm-10">
                <input type="text" name="words_rep" id="words_rep" placeholder="Rep" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="words_ice" class="col-sm-2 control-label">ICE</label>

            <div class="col-sm-10">
                <input type="text" name="words_ice" id="words_ice" placeholder="ICE" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="pay_rush" class="col-sm-2 control-label">ICE</label>

            <div class="col-sm-10">
                <input type="text" name="pay_rush" id="pay_rush" placeholder="RUSH %" class="form-control">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {% for field in form %}
                    <div class="fieldWrapper">
                        {% for field in field.errors %}
                            {{ field }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" value="add" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <div class="item">
        <div class="num">
            <span>1.&nbsp;</span>
        </div>
        <div class="name">
            <span class="name"></span>
        </div>
        <div class="name">
            <span class="name"></span>
        </div>
        <div class="delete"><a data-task-id="53026c21300f236402000001" data-csrf="t2gEspKDZZAy-taAmit9bsZG"
                               class="btn btn-danger btn-xs task-delete">delete</a>
        </div>
    </div>
    <script>
        //$(function() {

        //});
        $(document).ready(
                function () {

                    $('#datetimepicker').datetimepicker();
                });
        {#                         $("select#client").change(function() {#}
        {#                             if ($(this).val() == 'Z') {#}
        {#                                 console.log("ZETT");#}
        {#                                 $("input#clientContactName").html('<input type="text" name="clientContactName" id="clientContactName" placeholder="Enter a Contact Name" class="form-control">');#}
        {#                             }#}
        {#                             else {#}
        {#                                 console.log("ELSE");#}
        {#                                 var url = "" + $(this).val() + "/all_clients";#}
        {#                                 var brand = $(this).val();#}
        {#                                 $.getJSON(url, function(clients) {#}
        {#                                     var options = '<option value="Z">Select a model</option>';#}
        {#                                     console.log("A: "+clients);#}
        {#                                     for (var i = 0; i < clients.length; i++) {#}
        {#                                        console.log(clients[i]);#}
        {#                                        console.log(clients[i].fields['clientContact']);#}
        {#                                        //options += '<option value="' + models[i].pk + '">' + models[i].fields['description'] + '</option>';#}
        {#                                     }#}
        {#                                     $("input#clientContactName").val('Hallo');#}
        {#                                     //$("select#model option:first").attr('selected', 'selected');#}
        {#                                     //$("select#model").attr('disabled', false);#}
        {#                                 });#}
        {#                                 console.log("after");#}
        {#                             }#}
        {#                             console.log("after1");#}
        {#                         });#}
        {##}
        {##}
        {#                         $("select#client").change(function(vent) {#}
        {#                             if ($(this).val() == -1) {#}
        {#                                 return;#}
        {#                             }#}
        {#                             myAwesomeFunctionToCallWhenAModelIsSelected();#}
        {#                         });#}
        {#                     });#}
        {#    function myAwesomeFunctionToCallWhenAModelIsSelected(){#}
        {#        console.log("Hejsa");#}
        //   }
    </script>
    </div>
    {{ price }}

    <form action="/add_jobsss/" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit"/>
    </form>

{% endblock %}